<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
  <head th:replace="partials/head :: head"></head>
    <title>Profile</title>
</head>
<body>
  <div class="page-wrapper">
    <header th:replace="partials/navbar :: navbar"></header>
    <div class="container justify-center grow">
      <div class="row justify-center">
        <div class="column shrink">
          <h1>Your Profile</h1>
          <form th:action="@{/profile/change}" method="post">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="[[${user.email}]]">
            <input type="submit" value="Change Email">
          </form>
        </div>
      </div>
    </div>
  </div>


</body>
</html>