<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<nav th:insert="partials/navbar :: navbar"></nav>
<header th:insert="partials/header :: header"></header>
<div class="container">
    <div class="row">
        <div th:if="${post}">
            <span th:text="${post.title}"></span> - <span th:text="${post.body}"></span>
            <a th:href="@{|/posts/edit/${post.id}|}">
                <button type="button">Edit</button>
            </a>
        </div>

    </div>
</div>

</body>
</html>